body {
    background-image: url('../img/fondo.jpg');
    background-size:100% auto;
    /*background-repeat:no-repeat;*/
}

.inicioP {
    z-index:200;
    background-image: url('../img/fondo.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;
}
.logo{
    z-index:100;
    width:6%;
    margin-left:5%;
}
.logo2 {
    z-index: 100;
    width: 40px;   
    height:41px;
    display:flex;
    right:0px;
    margin-right:43px;
}
.modal-content {
    background-color: #efccfe !important;
}
.modal-header {
    background-color:#654a7e;
    color:white!important;
    text-align:center;
}
.close{
    font-size:57px;
    color:white;
    opacity:0.9;
}
.row {
    margin: 0px !important;
}
.areaP {
    padding:4px 0 1px 0;
}
.poligonoA {
    padding: 1%;
    text-align: center;
    /*background-image: url('../img/redondeado6.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
}
.evaluarimg{
    position:absolute;
    width:20%;
    /*left:0px;*/
    right:0px;
    top:0px;
}
.cuadrado {
    margin: 1px 0px 15px 14px;
    background-color: transparent !important;
    padding: 0px;
    position: relative;
    border: 2px solid;
    /*font-size: 12px;*/
}

    .cuadrado > .l1, .cuadrado > .l2 {
        position: absolute;
        display: block;
        z-index: 10;
        /*height: 100%;
        width: 100%*/
    }

    .cuadrado > .l1 {
        /*background-color: rgba(255, 9, 9, 0.59);*/
        top: 20%;
        left: -13px;
        text-align: right;      
        width:9px;
    }

    .cuadrado > .l2 {
        /*background-color: rgba(0, 0, 255, 0.70);*/
        bottom: -12px;
        right: 0px;
        height: 10px;        
    }
.nav {
    padding-left: 20%;
}
.nav-tabs {
    border-bottom: 0px;    
}
    .nav-tabs > li > a {
        border-radius: 0 0 10px 10px;
    }
    .nav a {
        color: white !important;
        background-color: #43395f;
        border-bottom-color: white;
    
    }

    }
    .nav a:hover {
        background-color: #654a7e !important;
    }
.nav-tabs > li.active > a {
    background-color: #654a7e !important;
}
.caso2p {
    padding:3% 7% 2% 7%;
    visibility: hidden;
}
.areaP1 {
    margin: 5%;
}

    .areaP1 tr {
        width: 100%;
        line-height: 0;
    }

    .areaP1 .cuadrado {
        margin: 0px;
        line-height: 1.42857143;
    }

    .areaP1 #hide1.cuadrado {
        border-color: transparent;
    }
.caso2 {
    padding:12px 0px;
}
#tabla1, #tabla2 {
    padding-left:7% !important;
}
.caso2 table{
    margin:4%;
}
.caso2 tr {
    line-height: 0;
}
.caso2 .cuadrado {
    margin: 0px;
}
.caso2 #hide1.cuadrado {
    /*border-color: transparent;*/
}
.col-xs-2 {
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.col-xs-2, .col-xs-1, .col-xs-4, .col-xs-5, .col-xs-7, .col-xs-6, .col-xs-12, .col-xs-10 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.respuesta1 {
    text-align:center;
}
.areaP, .fondo, .caso2p, .caso2, .poligonoP, .poligonoA, .respuesta1 {
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid white;
    border-radius: 5px;
    /*background-image: url('../img/redondeado8.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
}
.fondo {
    padding:10% 0% 10% 17%;
}
.poligonoP {
    padding: 1px 2% 5% 5%;
}
    .poligonoP .cuadrado {
        margin: 5px 5px 3px 12px;
    }
.respuesta2 {
    margin: 5%;
    visibility: hidden;
    position:relative;
}
    .respuesta2 > div {
        border: 2px solid forestgreen;
        width: fit-content;
    }
    .respuesta2 tr {
        width: 100%;
        line-height: 0;
    }
    .respuesta2 .cuadrado {
        margin: 0px;   
        /*border:0px;*/
        border-color:transparent;
    }
    .respuesta2 > .l1, .respuesta2 > .l2 {
        position: absolute;
        display: block;
        z-index: 10;
        color: black;
    }
    .respuesta2 .l1 {
        top: 20%;
        left: -67px;
        text-align: right;
        width: 65px;
        /*background-color: rgba(255, 9, 9, 0.59);*/
    }
    .respuesta2 .l2 {
        bottom: -12px;
        left: 20%;
        height: 10px;
    }

.t2 button.cuadrado .l2{
    bottom:-20px;
}
.t2 button.cuadrado .l1 {
    top: 47%;
    left: -16px;
}
.lado1-a, .lado1-a > div:first-child {
    height: 25px;
    border-left-color: #c63600;
    border-right-color: #c63600;
    color: #c63600;
}

.lado1-b, .lado1-b > div:first-child {
    height: 35px;
    border-left-color: #4e4c4c;
    border-right-color: #4e4c4c;
    color: #4e4c4c;
}

.lado1-c, .lado1-c > div:first-child {
    height: 45px;
    border-left-color: #006d00;
    border-right-color: #006d00;
    color: #006d00;
}

.lado1-d, .lado1-d > div:first-child {
    height: 55px;
    border-left-color: #006767;
    border-right-color: #006767;
    color: #006767;
}

.lado2-a, .lado2-a > div:last-child {
    width: 25px;
    border-top-color: firebrick;
    border-bottom-color: firebrick;
    color: firebrick;
}

.lado2-b, .lado2-b > div:last-child {
    width: 35px;
    border-top-color: #659602;
    border-bottom-color: #659602;
    color: #659602;
}

.lado2-c, .lado2-c > div:last-child {
    width: 45px;
    border-top-color: darkorchid;
    border-bottom-color: darkorchid;
    color: darkorchid;
}

.lado2-d, .lado2-d > div:last-child {
    width: 55px;
    border-top-color: #fc5c21;
    border-bottom-color: #fc5c21;
    color: #fc5c21;
}
.hide-border-top {
    border-top:solid 0px;
    /*border-top-color:transparent !important;*/
}
.hide-border-left {
    border-left: solid 0px;
    /*border-left-color: transparent !important;*/
}
.hide-border-right {
    border-right: solid 0px;
    /*border-right-color: transparent !important;*/
}
.hide-border-bottom {
    border-bottom: solid 0px;
    /*border-bottom-color: transparent !important;*/
}
@media screen and (min-height: 320px) {
    body {
        font-size:12px;
    }
    .nav > li > a {
    padding:5px 10px;
    }
    .lado1-a, .lado1-a > div:first-child {
        height: 20px;
    }
    .lado1-b, .lado1-b > div:first-child {
        height: 30px;
    }
    .lado1-c, .lado1-c > div:first-child {
        height: 40px;
    }
    .lado1-d, .lado1-d > div:first-child {
        height: 50px;
    }
    .lado2-a, .lado2-a > div:last-child {
        width: 20px;
    }
    .lado2-b, .lado2-b > div:last-child {
        width: 30px;
    }
    .lado2-c, .lado2-c > div:last-child {
        width: 40px;
    }
    .lado2-d, .lado2-d > div:last-child {
        width: 50px;
    }
}
@media screen and (min-height: 360px) {
    body {
        font-size: 13px;
    }
    .lado1-a, .lado1-a > div:first-child {
        height: 25px;
    }
    .lado1-b, .lado1-b > div:first-child {
        height: 35px;
    }
    .lado1-c, .lado1-c > div:first-child {
        height: 45px;
    }
    .lado1-d, .lado1-d > div:first-child {
        height: 55px;
    }
    .lado2-a, .lado2-a > div:last-child {
        width: 25px;
    }
    .lado2-b, .lado2-b > div:last-child {
        width: 35px;
    }
    .lado2-c, .lado2-c > div:last-child {
        width: 45px;
    }
    .lado2-d, .lado2-d > div:last-child {
        width: 55px;
    }
}
@media screen and (min-height: 384px) {   

    .lado1-a, .lado1-a > div:first-child {
        height: 30px;
    }
    .lado1-b, .lado1-b > div:first-child {
        height: 40px;
    }
    .lado1-c, .lado1-c > div:first-child {
        height: 50px;
    }
    .lado1-d, .lado1-d > div:first-child {
        height: 60px;
    }
    .lado2-a, .lado2-a > div:last-child {
        width: 30px;
    }
    .lado2-b, .lado2-b > div:last-child {
        width: 40px;
    }
    .lado2-c, .lado2-c > div:last-child {
        width: 50px;
    }
    .lado2-d, .lado2-d > div:last-child {
        width: 60px;
    }
}
@media screen and (min-height: 411px) {
    .fondo {
        padding: 10% 0% 10% 7%;
    }
    .nav > li > a {
        padding: 15px 33px;
    }
}
@media screen and (min-height: 480px) {
    body {
        font-size: 15px;
    }

    .nav > li > a {
        padding: 15px 33px;
    }

    .fondo {
        padding: 5% 0% 5% 17%;
    }
    .logo2 {      
        width: 54px;
        height: 54px;    
        margin-right: 75px;
    }
    .lado1-a, .lado1-a > div:first-child {
        height: 40px;
    }

    .lado1-b, .lado1-b > div:first-child {
        height: 50px;
    }

    .lado1-c, .lado1-c > div:first-child {
        height: 60px;
    }

    .lado1-d, .lado1-d > div:first-child {
        height: 70px;
    }

    .lado2-a, .lado2-a > div:last-child {
        width: 40px;
    }

    .lado2-b, .lado2-b > div:last-child {
        width: 50px;
    }

    .lado2-c, .lado2-c > div:last-child {
        width: 60px;
    }

    .lado2-d, .lado2-d > div:last-child {
        width: 70px;
    }

    .areaP {
        padding: 11px 40px 19px 26px;
    }
}
@media screen and (min-height: 600px) {
    body {
        font-size: 18px;
    }
   
}
@media screen and (min-height: 768px) {
    body {
        font-size: 19px;
    }
    .cuadrado {
        margin: 10px 10px 28px 24px;
    }
    .respuesta2 .l1 {
        left:-88px;
        width:88px;
    }
    .lado1-a, .lado1-a > div:first-child {
        height: 45px;
    }

    .lado1-b, .lado1-b > div:first-child {
        height: 55px;
    }

    .lado1-c, .lado1-c > div:first-child {
        height: 65px;
    }

    .lado1-d, .lado1-d > div:first-child {
        height: 75px;
    }

    .lado2-a, .lado2-a > div:last-child {
        width: 45px;
    }

    .lado2-b, .lado2-b > div:last-child {
        width: 55px;
    }

    .lado2-c, .lado2-c > div:last-child {
        width: 65px;
    }

    .lado2-d, .lado2-d > div:last-child {
        width: 75px;
    }
    .nav > li > a {
        padding: 25px 33px;
    }
}
@media (orientation:portrait) {
    body {
        background-image: url("../img/horizontal.jpg");
    }

    .puzzle {
        visibility: hidden;
    }

  
}